*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing : border-box;
    background-color:#CEE5ED;
}

.container {
    display: flex;
    flex-direction: column; 
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
}

img {
    width: 500px;
    padding-top: 30px;

}

video{
    padding-top: 30px;
    border-radius: 15px;
    width: 500px;
}

audio{
    padding-top: 30px ;
}

p {
    margin-top: 20px; 
    text-align: center; 
}
